ul.social-links {
    display: flex;
    gap: 12px;
    li {
        background-color: #BFC5D0;
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        cursor: pointer;
    }
}